<html>

<body>
    <h1>Index</h1>
    <p>Index page</p>

    <h2>HTML forms</h2>
    <form action="/submit" method="post">
        <label for="science">Science:</label><br>
        <input type="text" id="science" name="science" value="0"><br>
        <label for="maths">Maths:</label><br>
        <input type="text" id="maths" name="maths" value="0"><br>
        <label for="english">English:</label><br>
        <input type="text" id="english" name="english" value="0"><br><br>
        <input type="submit" value="Submit">

    </form>


</body>

</html>